<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body ng-app='app'>
    <div ng-controller='MovieFilterController as vm' class='container'>

      <h1>movie-filter</h1>
      <div class='row'>
        <div class='col s12'>
          <small>This product uses the TMDb API but is not endorsed or certified by TMDb.</small>
        </div>
      </div>

      <div class='row'>
        <div class='col s12'>
          <input name='section' type='radio' id='movies' value='movies' ng-model='vm.category' ng-click='vm.resetCountdown()'>
          <label for='movies'>Movies</label>

          <input name='section' type='radio' id='tvShows' value='tvShows' ng-model='vm.category' ng-click='vm.resetCountdown()'>
          <label for='tvShows'>TV Shows</label>
        </div>
      </div>

      <div movies-directive ng-if="vm.category === 'movies'"></div>
      <div tv-shows-directive ng-if="vm.category === 'tvShows'"></div>

    </div>

  </body>
</html>
